{% set page = page is defined ? page : '' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ page == 'account' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('home') }}">Account</a>
            </li>
            <li class="nav-item {{ page == 'flea' ? 'active' : '' }}">
                <a class="nav-link" href="#">Flea Market</a>
            </li>
            <li class="nav-item {{ page == 'shopping' ? 'active' : '' }}">
                <a class="nav-link" href="#">Shopping List</a>
            </li>
            <li class="nav-item {{ page == 'bot' ? 'active' : '' }}">
                <a class="nav-link" href="#">Bot Settings</a>
            </li>
            <li class="nav-item {{ page == 'offers' ? 'active' : '' }}">
                <a class="nav-link" href="#">Offers</a>
            </li>
            <li class="nav-item {{ page == 'snipes' ? 'active' : '' }}">
                <a class="nav-link" href="#">Snipes</a>
            </li>
        </ul>
    </div>
</nav>
